.form{
    width: 300px;
    height: 250px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 40px 0px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    background-color: rgb(36, 90, 197);
    box-shadow: 5px 10px;
}
.heading{
    margin-left: 50px;
}
.box1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.btn{
    width: 80px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
input{
    margin-top: 7px;
    height: 30px;
    width: 250px;
    outline: none;
}
label{
    color:white;
}
.showData{
    width: 500px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.innerBox{
    background-color: rgb(38, 89, 185);
    margin-bottom: 20px;
    height: 80px;
    margin-left: 40px;
}